<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path ='css/doctor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path ='css/notification.css') }}">
</head>

<body>
    <div class="notifications" id="notifications"></div>
    <h1>welcome doctor </h1>
</body>
<script src="{{ url_for('static', path ='js/notification.js') }}"></script>
<script src="{{ url_for('static', path ='js/doctor.js') }}"></script>

</html>