<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Details</title>
    <link rel="stylesheet" href="{{ url_for('static', path = 'css/patient.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path = 'css/notifications.css') }}">

</head>

<body>
    <div class="notification" id="notification"></div>
    <header>
        <h1>Patient Dashboard</h1>
    </header>

    <main class="container">
        <h2>Personal Information</h2>
        <table class="info-table" id="patient-info">
        </table>

        <h2>General Symptoms</h2>
        <table class="info-table" id="general-symptoms-info">
        </table>

        <h2>Specific Symptoms</h2>
        <table class="info-table" id="specific-symptoms-info">
        </table>

        <h2>Radio Images</h2>
        <table class="info-table" id="radio-image-info">
        </table>

        </div>
        <script src="{{ url_for('static', path ='js/notification.js') }}"></script>
        <script src="{{ url_for('static', path ='js/patient.js') }}"></script>

</body>

</html>