<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Details</title>
    <link rel="stylesheet" href="/static/css/patient.css?v={{version}}">
    <link rel="stylesheet" href="/static/css/notifications.css?v={{version}}">

</head>

<body>
    <div class="notification" id="notification"></div>
    <header>
        <h1>Patient Dashboard</h1>
    </header>

    <main class="container">
        <h2>Personal Information</h2>
        <table class="info-table" id="patient-info">
        </table>

        <h2>General Symptoms</h2>
        <table class="info-table" id="general-symptoms-info">
        </table>

        <h2>Specific Symptoms</h2>
        <table class="info-table" id="specific-symptoms-info">
        </table>

        <h2>Radio Images</h2>
        <table class="info-table" id="radio-image-info">
        </table>

    </main>
    <script src="/static/js/patient.js?v={{version}}"></script>
    <script src="/static/js/notification.js?v={{version}}"></script>


</body>

</html>